<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera" />

    <!-- 仅仅是SDK 收集异常奔溃等信息用，SDK 所有能力都是离线识别 不需要网络-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 演示提示用 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- 语音提示 -->
    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <application
        android:name=".MyFaceApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".NaviActivity"
            android:configChanges="orientation"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".verify.FaceVerificationActivity"
            android:exported="false"/>

        <activity
            android:name=".AboutUsActivity"
            android:exported="false" />

        <activity
            android:name=".addFaceImage.AddFaceImageActivity"
            android:exported="false" />

        <activity
            android:name=".verify.LivenessDetectionActivity"
            android:exported="false"/>

        <activity
            android:name=".search.FaceSearch1NActivity"
            android:exported="false" />


        <activity
            android:name=".search.FaceSearchMNActivity"
            android:exported="false"
            android:launchMode="singleTop" />


        <activity
            android:name=".search.FaceSearchImageMangerActivity"
            android:exported="false">
        </activity>

        <activity
            android:name=".search.SearchNaviActivity"
            android:exported="false">
        </activity>

    </application>

</manifest>