<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 语音提示 -->
    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />

    <application>

        <activity
            android:name="com.faceAI.demo.UVCCamera.search.FaceSearch_UVCCameraActivity"
            android:theme="@style/FaceAITheme"
            android:exported="true"/>

        <activity
            android:name="com.faceAI.demo.UVCCamera.verify.FaceVerify_UVCCameraActivity"
            android:theme="@style/FaceAITheme"
            android:exported="true"/>

        <activity
            android:name="com.faceAI.demo.UVCCamera.addFace.AddFace_UVCCameraActivity"
            android:theme="@style/FaceAITheme"
            android:exported="true"/>

        <activity
            android:name="com.faceAI.demo.FaceAINaviActivity"
            android:configChanges="orientation"
            android:exported="false">
        </activity>

        <activity
            android:name="com.faceAI.demo.SysCamera.verify.TwoFaceImageVerifyActivity"
            android:configChanges="orientation"
            android:theme="@style/FaceAITheme"
            android:exported="false">
        </activity>

        <activity
            android:name="com.faceAI.demo.SysCamera.verify.FaceVerificationActivity"
            android:theme="@style/FaceAITheme"
            android:exported="false"/>

        <activity
            android:name="com.faceAI.demo.AboutFaceAppActivity"
            android:exported="false" />

        <activity
            android:name=".SysCamera.diyCamera.CustomCameraActivity"
            android:exported="false" />
        <activity
            android:name="com.faceAI.demo.SysCamera.addFace.AddFaceImageActivity"
            android:theme="@style/FaceAITheme"
            android:exported="false" />

        <activity
            android:name="com.faceAI.demo.SysCamera.search.FaceSearch1NActivity"
            android:theme="@style/FaceAITheme"
            android:exported="false" />

        <activity
            android:name="com.faceAI.demo.SysCamera.search.FaceSearchMNActivity"
            android:exported="false"
            android:launchMode="singleTop" />

        <activity
            android:name="com.faceAI.demo.SysCamera.search.FaceSearchImageMangerActivity"
            android:exported="false">
        </activity>

        <activity
            android:name="com.faceAI.demo.SysCamera.verify.FaceVerifyWelcomeActivity"
            android:exported="false">
        </activity>


        <activity
            android:name="com.faceAI.demo.SysCamera.search.SearchNaviActivity"
            android:exported="false">
        </activity>

        <activity
            android:name="com.faceAI.demo.FaceAISettingsActivity"
            android:exported="false">
        </activity>

    </application>

</manifest>